###  ONS Balance of payments Table F

In [1]:
from gssutils import *
scraper = Scraper('https://www.ons.gov.uk/economy/nationalaccounts/balanceofpayments/datasets/'
                  'balanceofpaymentsstatisticalbulletintables')
scraper

## Balance of payments

Quarterly summary of balance of payments accounts including the current account, capital transfers, transactions and levels of UK external assets and liabilities.

### Distributions

1. Balance of payments ([MS Excel Spreadsheet](https://www.ons.gov.uk/file?uri=/economy/nationalaccounts/balanceofpayments/datasets/balanceofpaymentsstatisticalbulletintables/current/balanceofpayments2018q2.xls))

In [2]:
tab = next(filter(lambda t: t.name == 'Table F', scraper.distribution().as_databaker()))

In [3]:
savepreviewhtml(tab)

In [4]:
observations = tab.excel_ref('D8').expand(DOWN).expand(RIGHT).is_not_blank()
Code = tab.excel_ref('C8').expand(DOWN).is_not_blank()
Year = tab.excel_ref('D4').expand(RIGHT).is_not_blank()
Quarter = tab.excel_ref('D5').expand(RIGHT)
Trade = tab.excel_ref('B').expand(DOWN).by_index([7,22,37])
Services = tab.excel_ref('B').is_not_blank().is_not_whitespace() - Trade
Services = Services - tab.excel_ref('B1').expand(UP)
Currency = tab.excel_ref('N3')

Dimensions = [
            HDimConst('ONS Reporter Geography', 'K02000001'),
            HDim(Year,'TIME',DIRECTLY,ABOVE),
            HDim(Quarter,'Quarter',DIRECTLY,ABOVE),
            HDim(Code,'CDID',DIRECTLY,LEFT),
            HDimConst('Measure Type', 'GBP Total'),
            HDimConst('Unit','Â£ Million'),
            HDim(Services,'label',CLOSEST, ABOVE),
            HDim(Trade,'Flow',CLOSEST,ABOVE)
]

c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
savepreviewhtml(c1)

In [5]:
new_table = c1.topandas()
new_table

TIMEUNIT='Year'

,OBS,TIME,TIMEUNIT,ONS Reporter Geography,Quarter,CDID,Measure Type,Unit,label,Flow
0,3496.0,2016,Year,K02000001,,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports
1,4625.0,2017,Year,K02000001,,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports
2,791.0,2016,Year,K02000001,Q2,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports
3,898.0,2016,Year,K02000001,Q3,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports
4,974.0,2016,Year,K02000001,Q4,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports
5,866.0,2017,Year,K02000001,Q1,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports
6,1211.0,2017,Year,K02000001,Q2,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports
7,1262.0,2017,Year,K02000001,Q3,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports
8,1286.0,2017,Year,K02000001,Q4,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports
9,875.0,2018,Year,K02000001,Q1,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports
10,1095.0,2018,Year,K02000001,Q2,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports
11,27752.0,2016,Year,K02000001,,FKOA,GBP Total,Â£ Million,Transport,Exports
12,30128.0,2017,Year,K02000001,,FKOA,GBP Total,Â£ Million,Transport,Exports
13,6655.0,2016,Year,K02000001,Q2,FKOA,GBP Total,Â£ Million,Transport,Exports
14,6858.0,2016,Year,K02000001,Q3,FKOA,GBP Total,Â£ Million,Transport,Exports
15,7339.0,2016,Year,K02000001,Q4,FKOA,GBP Total,Â£ Million,Transport,Exports
16,7505.0,2017,Year,K02000001,Q1,FKOA,GBP Total,Â£ Million,Transport,Exports
17,7536.0,2017,Year,K02000001,Q2,FKOA,GBP Total,Â£ Million,Transport,Exports
18,7486.0,2017,Year,K02000001,Q3,FKOA,GBP Total,Â£ Million,Transport,Exports
19,7601.0,2017,Year,K02000001,Q4,FKOA,GBP Total,Â£ Million,Transport,Exports
20,7747.0,2018,Year,K02000001,Q1,FKOA,GBP Total,Â£ Million,Transport,Exports
21,7528.0,2018,Year,K02000001,Q2,FKOA,GBP Total,Â£ Million,Transport,Exports
22,35481.0,2016,Year,K02000001,,FAPO,GBP Total,Â£ Million,Travel,Exports
23,39807.0,2017,Year,K02000001,,FAPO,GBP Total,Â£ Million,Travel,Exports
24,8766.0,2016,Year,K02000001,Q2,FAPO,GBP Total,Â£ Million,Travel,Exports
25,8477.0,2016,Year,K02000001,Q3,FAPO,GBP Total,Â£ Million,Travel,Exports
26,9525.0,2016,Year,K02000001,Q4,FAPO,GBP Total,Â£ Million,Travel,Exports
27,9598.0,2017,Year,K02000001,Q1,FAPO,GBP Total,Â£ Million,Travel,Exports
28,9582.0,2017,Year,K02000001,Q2,FAPO,GBP Total,Â£ Million,Travel,Exports
29,10215.0,2017,Year,K02000001,Q3,FAPO,GBP Total,Â£ Million,Travel,Exports
...,...,...,...,...,...,...,...,...,...,...
366,150.0,2016,Year,K02000001,Q3,FNRB,GBP Total,Â£ Million,"Personal, cultural and recreational services",Balances
367,45.0,2016,Year,K02000001,Q4,FNRB,GBP Total,Â£ Million,"Personal, cultural and recreational services",Balances
368,-94.0,2017,Year,K02000001,Q1,FNRB,GBP Total,Â£ Million,"Personal, cultural and recreational services",Balances
369,-4.0,2017,Year,K02000001,Q2,FNRB,GBP Total,Â£ Million,"Personal, cultural and recreational services",Balances
370,283.0,2017,Year,K02000001,Q3,FNRB,GBP Total,Â£ Million,"Personal, cultural and recreational services",Balances
371,320.0,2017,Year,K02000001,Q4,FNRB,GBP Total,Â£ Million,"Personal, cultural and recreational services",Balances
372,321.0,2018,Year,K02000001,Q1,FNRB,GBP Total,Â£ Million,"Personal, cultural and recreational services",Balances
373,544.0,2018,Year,K02000001,Q2,FNRB,GBP Total,Â£ Million,"Personal, cultural and recreational services",Balances
374,-1269.0,2016,Year,K02000001,,FNRU,GBP Total,Â£ Million,Government,Balances
375,-2041.0,2017,Year,K02000001,,FNRU,GBP Total,Â£ Million,Government,Balances
376,-289.0,2016,Year,K02000001,Q2,FNRU,GBP Total,Â£ Million,Government,Balances
377,-271.0,2016,Year,K02000001,Q3,FNRU,GBP Total,Â£ Million,Government,Balances
378,-373.0,2016,Year,K02000001,Q4,FNRU,GBP Total,Â£ Million,Government,Balances
379,-590.0,2017,Year,K02000001,Q1,FNRU,GBP Total,Â£ Million,Government,Balances
380,-437.0,2017,Year,K02000001,Q2,FNRU,GBP Total,Â£ Million,Government,Balances
381,-547.0,2017,Year,K02000001,Q3,FNRU,GBP Total,Â£ Million,Government,Balances
382,-467.0,2017,Year,K02000001,Q4,FNRU,GBP Total,Â£ Million,Government,Balances
383,-483.0,2018,Year,K02000001,Q1,FNRU,GBP Total,Â£ Million,Government,Balances
384,-508.0,2018,Year,K02000001,Q2,FNRU,GBP Total,Â£ Million,Government,Balances
385,101765.0,2016,Year,K02000001,,IKBD,GBP Total,Â£ Million,Total,Balances
386,114295.0,2017,Year,K02000001,,IKBD,GBP Total,Â£ Million,Total,Balances
387,24325.0,2016,Year,K02000001,Q2,IKBD,GBP Total,Â£ Million,Total,Balances
388,24793.0,2016,Year,K02000001,Q3,IKBD,GBP Total,Â£ Million,Total,Balances
389,28308.0,2016,Year,K02000001,Q4,IKBD,GBP Total,Â£ Million,Total,Balances
390,26866.0,2017,Year,K02000001,Q1,IKBD,GBP Total,Â£ Million,Total,Balances
391,27228.0,2017,Year,K02000001,Q2,IKBD,GBP Total,Â£ Million,Total,Balances
392,28860.0,2017,Year,K02000001,Q3,IKBD,GBP Total,Â£ Million,Total,Balances
393,31341.0,2017,Year,K02000001,Q4,IKBD,GBP Total,Â£ Million,Total,Balances
394,28776.0,2018,Year,K02000001,Q1,IKBD,GBP Total,Â£ Million,Total,Balances
395,28625.0,2018,Year,K02000001,Q2,IKBD,GBP Total,Â£ Million,Total,Balances

Check values (OBS) are actually integers and coerce accordingly.

In [6]:
if new_table.OBS.apply(float.is_integer).all():
    new_table.OBS = new_table.OBS.astype(int)
new_table.head()

,OBS,TIME,TIMEUNIT,ONS Reporter Geography,Quarter,CDID,Measure Type,Unit,label,Flow
0,3496,2016,Year,K02000001,,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports
1,4625,2017,Year,K02000001,,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports
2,791,2016,Year,K02000001,Q2,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports
3,898,2016,Year,K02000001,Q3,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports
4,974,2016,Year,K02000001,Q4,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports

In [7]:
def user_perc(x,y):
    
    if x.strip() == '':
        return 'year/' + y.strip()
    else:
        return 'quarter/' + y.strip() + '-' + x.strip()
        
    
new_table['Qname'] = new_table.apply(lambda row: user_perc(row['Quarter'], row['TIME']), axis = 1)
new_table

,OBS,TIME,TIMEUNIT,ONS Reporter Geography,Quarter,CDID,Measure Type,Unit,label,Flow,Qname
0,3496,2016,Year,K02000001,,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports,year/2016
1,4625,2017,Year,K02000001,,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports,year/2017
2,791,2016,Year,K02000001,Q2,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports,quarter/2016-Q2
3,898,2016,Year,K02000001,Q3,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports,quarter/2016-Q3
4,974,2016,Year,K02000001,Q4,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports,quarter/2016-Q4
5,866,2017,Year,K02000001,Q1,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports,quarter/2017-Q1
6,1211,2017,Year,K02000001,Q2,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports,quarter/2017-Q2
7,1262,2017,Year,K02000001,Q3,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports,quarter/2017-Q3
8,1286,2017,Year,K02000001,Q4,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports,quarter/2017-Q4
9,875,2018,Year,K02000001,Q1,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports,quarter/2018-Q1
10,1095,2018,Year,K02000001,Q2,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports,quarter/2018-Q2
11,27752,2016,Year,K02000001,,FKOA,GBP Total,Â£ Million,Transport,Exports,year/2016
12,30128,2017,Year,K02000001,,FKOA,GBP Total,Â£ Million,Transport,Exports,year/2017
13,6655,2016,Year,K02000001,Q2,FKOA,GBP Total,Â£ Million,Transport,Exports,quarter/2016-Q2
14,6858,2016,Year,K02000001,Q3,FKOA,GBP Total,Â£ Million,Transport,Exports,quarter/2016-Q3
15,7339,2016,Year,K02000001,Q4,FKOA,GBP Total,Â£ Million,Transport,Exports,quarter/2016-Q4
16,7505,2017,Year,K02000001,Q1,FKOA,GBP Total,Â£ Million,Transport,Exports,quarter/2017-Q1
17,7536,2017,Year,K02000001,Q2,FKOA,GBP Total,Â£ Million,Transport,Exports,quarter/2017-Q2
18,7486,2017,Year,K02000001,Q3,FKOA,GBP Total,Â£ Million,Transport,Exports,quarter/2017-Q3
19,7601,2017,Year,K02000001,Q4,FKOA,GBP Total,Â£ Million,Transport,Exports,quarter/2017-Q4
20,7747,2018,Year,K02000001,Q1,FKOA,GBP Total,Â£ Million,Transport,Exports,quarter/2018-Q1
21,7528,2018,Year,K02000001,Q2,FKOA,GBP Total,Â£ Million,Transport,Exports,quarter/2018-Q2
22,35481,2016,Year,K02000001,,FAPO,GBP Total,Â£ Million,Travel,Exports,year/2016
23,39807,2017,Year,K02000001,,FAPO,GBP Total,Â£ Million,Travel,Exports,year/2017
24,8766,2016,Year,K02000001,Q2,FAPO,GBP Total,Â£ Million,Travel,Exports,quarter/2016-Q2
25,8477,2016,Year,K02000001,Q3,FAPO,GBP Total,Â£ Million,Travel,Exports,quarter/2016-Q3
26,9525,2016,Year,K02000001,Q4,FAPO,GBP Total,Â£ Million,Travel,Exports,quarter/2016-Q4
27,9598,2017,Year,K02000001,Q1,FAPO,GBP Total,Â£ Million,Travel,Exports,quarter/2017-Q1
28,9582,2017,Year,K02000001,Q2,FAPO,GBP Total,Â£ Million,Travel,Exports,quarter/2017-Q2
29,10215,2017,Year,K02000001,Q3,FAPO,GBP Total,Â£ Million,Travel,Exports,quarter/2017-Q3
...,...,...,...,...,...,...,...,...,...,...,...
366,150,2016,Year,K02000001,Q3,FNRB,GBP Total,Â£ Million,"Personal, cultural and recreational services",Balances,quarter/2016-Q3
367,45,2016,Year,K02000001,Q4,FNRB,GBP Total,Â£ Million,"Personal, cultural and recreational services",Balances,quarter/2016-Q4
368,-94,2017,Year,K02000001,Q1,FNRB,GBP Total,Â£ Million,"Personal, cultural and recreational services",Balances,quarter/2017-Q1
369,-4,2017,Year,K02000001,Q2,FNRB,GBP Total,Â£ Million,"Personal, cultural and recreational services",Balances,quarter/2017-Q2
370,283,2017,Year,K02000001,Q3,FNRB,GBP Total,Â£ Million,"Personal, cultural and recreational services",Balances,quarter/2017-Q3
371,320,2017,Year,K02000001,Q4,FNRB,GBP Total,Â£ Million,"Personal, cultural and recreational services",Balances,quarter/2017-Q4
372,321,2018,Year,K02000001,Q1,FNRB,GBP Total,Â£ Million,"Personal, cultural and recreational services",Balances,quarter/2018-Q1
373,544,2018,Year,K02000001,Q2,FNRB,GBP Total,Â£ Million,"Personal, cultural and recreational services",Balances,quarter/2018-Q2
374,-1269,2016,Year,K02000001,,FNRU,GBP Total,Â£ Million,Government,Balances,year/2016
375,-2041,2017,Year,K02000001,,FNRU,GBP Total,Â£ Million,Government,Balances,year/2017
376,-289,2016,Year,K02000001,Q2,FNRU,GBP Total,Â£ Million,Government,Balances,quarter/2016-Q2
377,-271,2016,Year,K02000001,Q3,FNRU,GBP Total,Â£ Million,Government,Balances,quarter/2016-Q3
378,-373,2016,Year,K02000001,Q4,FNRU,GBP Total,Â£ Million,Government,Balances,quarter/2016-Q4
379,-590,2017,Year,K02000001,Q1,FNRU,GBP Total,Â£ Million,Government,Balances,quarter/2017-Q1
380,-437,2017,Year,K02000001,Q2,FNRU,GBP Total,Â£ Million,Government,Balances,quarter/2017-Q2
381,-547,2017,Year,K02000001,Q3,FNRU,GBP Total,Â£ Million,Government,Balances,quarter/2017-Q3
382,-467,2017,Year,K02000001,Q4,FNRU,GBP Total,Â£ Million,Government,Balances,quarter/2017-Q4
383,-483,2018,Year,K02000001,Q1,FNRU,GBP Total,Â£ Million,Government,Balances,quarter/2018-Q1
384,-508,2018,Year,K02000001,Q2,FNRU,GBP Total,Â£ Million,Government,Balances,quarter/2018-Q2
385,101765,2016,Year,K02000001,,IKBD,GBP Total,Â£ Million,Total,Balances,year/2016
386,114295,2017,Year,K02000001,,IKBD,GBP Total,Â£ Million,Total,Balances,year/2017
387,24325,2016,Year,K02000001,Q2,IKBD,GBP Total,Â£ Million,Total,Balances,quarter/2016-Q2
388,24793,2016,Year,K02000001,Q3,IKBD,GBP Total,Â£ Million,Total,Balances,quarter/2016-Q3
389,28308,2016,Year,K02000001,Q4,IKBD,GBP Total,Â£ Million,Total,Balances,quarter/2016-Q4
390,26866,2017,Year,K02000001,Q1,IKBD,GBP Total,Â£ Million,Total,Balances,quarter/2017-Q1
391,27228,2017,Year,K02000001,Q2,IKBD,GBP Total,Â£ Million,Total,Balances,quarter/2017-Q2
392,28860,2017,Year,K02000001,Q3,IKBD,GBP Total,Â£ Million,Total,Balances,quarter/2017-Q3
393,31341,2017,Year,K02000001,Q4,IKBD,GBP Total,Â£ Million,Total,Balances,quarter/2017-Q4
394,28776,2018,Year,K02000001,Q1,IKBD,GBP Total,Â£ Million,Total,Balances,quarter/2018-Q1
395,28625,2018,Year,K02000001,Q2,IKBD,GBP Total,Â£ Million,Total,Balances,quarter/2018-Q2

In [8]:
new_table = new_table.drop('TIMEUNIT', axis=1)
new_table = new_table.drop('Quarter', axis=1)
new_table = new_table.drop('TIME', axis=1)
new_table.rename(index= str, columns= {'Qname':'Period'}, inplace = True)
new_table.rename(index= str, columns= {'OBS':'Value'}, inplace = True)
new_table

,Value,ONS Reporter Geography,CDID,Measure Type,Unit,label,Flow,Period
0,3496,K02000001,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports,year/2016
1,4625,K02000001,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports,year/2017
2,791,K02000001,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports,quarter/2016-Q2
3,898,K02000001,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports,quarter/2016-Q3
4,974,K02000001,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports,quarter/2016-Q4
5,866,K02000001,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports,quarter/2017-Q1
6,1211,K02000001,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports,quarter/2017-Q2
7,1262,K02000001,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports,quarter/2017-Q3
8,1286,K02000001,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports,quarter/2017-Q4
9,875,K02000001,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports,quarter/2018-Q1
10,1095,K02000001,MTN7,GBP Total,Â£ Million,Manufacturing and maintenance services,Exports,quarter/2018-Q2
11,27752,K02000001,FKOA,GBP Total,Â£ Million,Transport,Exports,year/2016
12,30128,K02000001,FKOA,GBP Total,Â£ Million,Transport,Exports,year/2017
13,6655,K02000001,FKOA,GBP Total,Â£ Million,Transport,Exports,quarter/2016-Q2
14,6858,K02000001,FKOA,GBP Total,Â£ Million,Transport,Exports,quarter/2016-Q3
15,7339,K02000001,FKOA,GBP Total,Â£ Million,Transport,Exports,quarter/2016-Q4
16,7505,K02000001,FKOA,GBP Total,Â£ Million,Transport,Exports,quarter/2017-Q1
17,7536,K02000001,FKOA,GBP Total,Â£ Million,Transport,Exports,quarter/2017-Q2
18,7486,K02000001,FKOA,GBP Total,Â£ Million,Transport,Exports,quarter/2017-Q3
19,7601,K02000001,FKOA,GBP Total,Â£ Million,Transport,Exports,quarter/2017-Q4
20,7747,K02000001,FKOA,GBP Total,Â£ Million,Transport,Exports,quarter/2018-Q1
21,7528,K02000001,FKOA,GBP Total,Â£ Million,Transport,Exports,quarter/2018-Q2
22,35481,K02000001,FAPO,GBP Total,Â£ Million,Travel,Exports,year/2016
23,39807,K02000001,FAPO,GBP Total,Â£ Million,Travel,Exports,year/2017
24,8766,K02000001,FAPO,GBP Total,Â£ Million,Travel,Exports,quarter/2016-Q2
25,8477,K02000001,FAPO,GBP Total,Â£ Million,Travel,Exports,quarter/2016-Q3
26,9525,K02000001,FAPO,GBP Total,Â£ Million,Travel,Exports,quarter/2016-Q4
27,9598,K02000001,FAPO,GBP Total,Â£ Million,Travel,Exports,quarter/2017-Q1
28,9582,K02000001,FAPO,GBP Total,Â£ Million,Travel,Exports,quarter/2017-Q2
29,10215,K02000001,FAPO,GBP Total,Â£ Million,Travel,Exports,quarter/2017-Q3
...,...,...,...,...,...,...,...,...
366,150,K02000001,FNRB,GBP Total,Â£ Million,"Personal, cultural and recreational services",Balances,quarter/2016-Q3
367,45,K02000001,FNRB,GBP Total,Â£ Million,"Personal, cultural and recreational services",Balances,quarter/2016-Q4
368,-94,K02000001,FNRB,GBP Total,Â£ Million,"Personal, cultural and recreational services",Balances,quarter/2017-Q1
369,-4,K02000001,FNRB,GBP Total,Â£ Million,"Personal, cultural and recreational services",Balances,quarter/2017-Q2
370,283,K02000001,FNRB,GBP Total,Â£ Million,"Personal, cultural and recreational services",Balances,quarter/2017-Q3
371,320,K02000001,FNRB,GBP Total,Â£ Million,"Personal, cultural and recreational services",Balances,quarter/2017-Q4
372,321,K02000001,FNRB,GBP Total,Â£ Million,"Personal, cultural and recreational services",Balances,quarter/2018-Q1
373,544,K02000001,FNRB,GBP Total,Â£ Million,"Personal, cultural and recreational services",Balances,quarter/2018-Q2
374,-1269,K02000001,FNRU,GBP Total,Â£ Million,Government,Balances,year/2016
375,-2041,K02000001,FNRU,GBP Total,Â£ Million,Government,Balances,year/2017
376,-289,K02000001,FNRU,GBP Total,Â£ Million,Government,Balances,quarter/2016-Q2
377,-271,K02000001,FNRU,GBP Total,Â£ Million,Government,Balances,quarter/2016-Q3
378,-373,K02000001,FNRU,GBP Total,Â£ Million,Government,Balances,quarter/2016-Q4
379,-590,K02000001,FNRU,GBP Total,Â£ Million,Government,Balances,quarter/2017-Q1
380,-437,K02000001,FNRU,GBP Total,Â£ Million,Government,Balances,quarter/2017-Q2
381,-547,K02000001,FNRU,GBP Total,Â£ Million,Government,Balances,quarter/2017-Q3
382,-467,K02000001,FNRU,GBP Total,Â£ Million,Government,Balances,quarter/2017-Q4
383,-483,K02000001,FNRU,GBP Total,Â£ Million,Government,Balances,quarter/2018-Q1
384,-508,K02000001,FNRU,GBP Total,Â£ Million,Government,Balances,quarter/2018-Q2
385,101765,K02000001,IKBD,GBP Total,Â£ Million,Total,Balances,year/2016
386,114295,K02000001,IKBD,GBP Total,Â£ Million,Total,Balances,year/2017
387,24325,K02000001,IKBD,GBP Total,Â£ Million,Total,Balances,quarter/2016-Q2
388,24793,K02000001,IKBD,GBP Total,Â£ Million,Total,Balances,quarter/2016-Q3
389,28308,K02000001,IKBD,GBP Total,Â£ Million,Total,Balances,quarter/2016-Q4
390,26866,K02000001,IKBD,GBP Total,Â£ Million,Total,Balances,quarter/2017-Q1
391,27228,K02000001,IKBD,GBP Total,Â£ Million,Total,Balances,quarter/2017-Q2
392,28860,K02000001,IKBD,GBP Total,Â£ Million,Total,Balances,quarter/2017-Q3
393,31341,K02000001,IKBD,GBP Total,Â£ Million,Total,Balances,quarter/2017-Q4
394,28776,K02000001,IKBD,GBP Total,Â£ Million,Total,Balances,quarter/2018-Q1
395,28625,K02000001,IKBD,GBP Total,Â£ Million,Total,Balances,quarter/2018-Q2

In [9]:
new_table =new_table[['ONS Reporter Geography','Period','CDID','Flow','label','Measure Type','Value','Unit']]
new_table

,ONS Reporter Geography,Period,CDID,Flow,label,Measure Type,Value,Unit
0,K02000001,year/2016,MTN7,Exports,Manufacturing and maintenance services,GBP Total,3496,Â£ Million
1,K02000001,year/2017,MTN7,Exports,Manufacturing and maintenance services,GBP Total,4625,Â£ Million
2,K02000001,quarter/2016-Q2,MTN7,Exports,Manufacturing and maintenance services,GBP Total,791,Â£ Million
3,K02000001,quarter/2016-Q3,MTN7,Exports,Manufacturing and maintenance services,GBP Total,898,Â£ Million
4,K02000001,quarter/2016-Q4,MTN7,Exports,Manufacturing and maintenance services,GBP Total,974,Â£ Million
5,K02000001,quarter/2017-Q1,MTN7,Exports,Manufacturing and maintenance services,GBP Total,866,Â£ Million
6,K02000001,quarter/2017-Q2,MTN7,Exports,Manufacturing and maintenance services,GBP Total,1211,Â£ Million
7,K02000001,quarter/2017-Q3,MTN7,Exports,Manufacturing and maintenance services,GBP Total,1262,Â£ Million
8,K02000001,quarter/2017-Q4,MTN7,Exports,Manufacturing and maintenance services,GBP Total,1286,Â£ Million
9,K02000001,quarter/2018-Q1,MTN7,Exports,Manufacturing and maintenance services,GBP Total,875,Â£ Million
10,K02000001,quarter/2018-Q2,MTN7,Exports,Manufacturing and maintenance services,GBP Total,1095,Â£ Million
11,K02000001,year/2016,FKOA,Exports,Transport,GBP Total,27752,Â£ Million
12,K02000001,year/2017,FKOA,Exports,Transport,GBP Total,30128,Â£ Million
13,K02000001,quarter/2016-Q2,FKOA,Exports,Transport,GBP Total,6655,Â£ Million
14,K02000001,quarter/2016-Q3,FKOA,Exports,Transport,GBP Total,6858,Â£ Million
15,K02000001,quarter/2016-Q4,FKOA,Exports,Transport,GBP Total,7339,Â£ Million
16,K02000001,quarter/2017-Q1,FKOA,Exports,Transport,GBP Total,7505,Â£ Million
17,K02000001,quarter/2017-Q2,FKOA,Exports,Transport,GBP Total,7536,Â£ Million
18,K02000001,quarter/2017-Q3,FKOA,Exports,Transport,GBP Total,7486,Â£ Million
19,K02000001,quarter/2017-Q4,FKOA,Exports,Transport,GBP Total,7601,Â£ Million
20,K02000001,quarter/2018-Q1,FKOA,Exports,Transport,GBP Total,7747,Â£ Million
21,K02000001,quarter/2018-Q2,FKOA,Exports,Transport,GBP Total,7528,Â£ Million
22,K02000001,year/2016,FAPO,Exports,Travel,GBP Total,35481,Â£ Million
23,K02000001,year/2017,FAPO,Exports,Travel,GBP Total,39807,Â£ Million
24,K02000001,quarter/2016-Q2,FAPO,Exports,Travel,GBP Total,8766,Â£ Million
25,K02000001,quarter/2016-Q3,FAPO,Exports,Travel,GBP Total,8477,Â£ Million
26,K02000001,quarter/2016-Q4,FAPO,Exports,Travel,GBP Total,9525,Â£ Million
27,K02000001,quarter/2017-Q1,FAPO,Exports,Travel,GBP Total,9598,Â£ Million
28,K02000001,quarter/2017-Q2,FAPO,Exports,Travel,GBP Total,9582,Â£ Million
29,K02000001,quarter/2017-Q3,FAPO,Exports,Travel,GBP Total,10215,Â£ Million
...,...,...,...,...,...,...,...,...
366,K02000001,quarter/2016-Q3,FNRB,Balances,"Personal, cultural and recreational services",GBP Total,150,Â£ Million
367,K02000001,quarter/2016-Q4,FNRB,Balances,"Personal, cultural and recreational services",GBP Total,45,Â£ Million
368,K02000001,quarter/2017-Q1,FNRB,Balances,"Personal, cultural and recreational services",GBP Total,-94,Â£ Million
369,K02000001,quarter/2017-Q2,FNRB,Balances,"Personal, cultural and recreational services",GBP Total,-4,Â£ Million
370,K02000001,quarter/2017-Q3,FNRB,Balances,"Personal, cultural and recreational services",GBP Total,283,Â£ Million
371,K02000001,quarter/2017-Q4,FNRB,Balances,"Personal, cultural and recreational services",GBP Total,320,Â£ Million
372,K02000001,quarter/2018-Q1,FNRB,Balances,"Personal, cultural and recreational services",GBP Total,321,Â£ Million
373,K02000001,quarter/2018-Q2,FNRB,Balances,"Personal, cultural and recreational services",GBP Total,544,Â£ Million
374,K02000001,year/2016,FNRU,Balances,Government,GBP Total,-1269,Â£ Million
375,K02000001,year/2017,FNRU,Balances,Government,GBP Total,-2041,Â£ Million
376,K02000001,quarter/2016-Q2,FNRU,Balances,Government,GBP Total,-289,Â£ Million
377,K02000001,quarter/2016-Q3,FNRU,Balances,Government,GBP Total,-271,Â£ Million
378,K02000001,quarter/2016-Q4,FNRU,Balances,Government,GBP Total,-373,Â£ Million
379,K02000001,quarter/2017-Q1,FNRU,Balances,Government,GBP Total,-590,Â£ Million
380,K02000001,quarter/2017-Q2,FNRU,Balances,Government,GBP Total,-437,Â£ Million
381,K02000001,quarter/2017-Q3,FNRU,Balances,Government,GBP Total,-547,Â£ Million
382,K02000001,quarter/2017-Q4,FNRU,Balances,Government,GBP Total,-467,Â£ Million
383,K02000001,quarter/2018-Q1,FNRU,Balances,Government,GBP Total,-483,Â£ Million
384,K02000001,quarter/2018-Q2,FNRU,Balances,Government,GBP Total,-508,Â£ Million
385,K02000001,year/2016,IKBD,Balances,Total,GBP Total,101765,Â£ Million
386,K02000001,year/2017,IKBD,Balances,Total,GBP Total,114295,Â£ Million
387,K02000001,quarter/2016-Q2,IKBD,Balances,Total,GBP Total,24325,Â£ Million
388,K02000001,quarter/2016-Q3,IKBD,Balances,Total,GBP Total,24793,Â£ Million
389,K02000001,quarter/2016-Q4,IKBD,Balances,Total,GBP Total,28308,Â£ Million
390,K02000001,quarter/2017-Q1,IKBD,Balances,Total,GBP Total,26866,Â£ Million
391,K02000001,quarter/2017-Q2,IKBD,Balances,Total,GBP Total,27228,Â£ Million
392,K02000001,quarter/2017-Q3,IKBD,Balances,Total,GBP Total,28860,Â£ Million
393,K02000001,quarter/2017-Q4,IKBD,Balances,Total,GBP Total,31341,Â£ Million
394,K02000001,quarter/2018-Q1,IKBD,Balances,Total,GBP Total,28776,Â£ Million
395,K02000001,quarter/2018-Q2,IKBD,Balances,Total,GBP Total,28625,Â£ Million

In [10]:
new_table['label'] = new_table['label'].str.strip()
new_table['CDID'] = new_table['CDID'].str.strip()
new_table['Period'] = new_table['Period'].str.strip()
new_table['ONS Reporter Geography'] = new_table['ONS Reporter Geography'].str.strip()
new_table['Flow'] = new_table['Flow'].str.strip()
new_table['Measure Type'] = new_table['Measure Type'].str.strip()
new_table['Unit'] = new_table['Unit'].str.strip()
new_table.dtypes

ONS Reporter Geography    object
Period                    object
CDID                      object
Flow                      object
label                     object
Measure Type              object
Value                      int64
Unit                      object
dtype: object

In [11]:
new_table['Flow'] = new_table['Flow'].apply(lambda x: 'Balance' if x == 'Balances' else x)
new_table

,ONS Reporter Geography,Period,CDID,Flow,label,Measure Type,Value,Unit
0,K02000001,year/2016,MTN7,Exports,Manufacturing and maintenance services,GBP Total,3496,Â£ Million
1,K02000001,year/2017,MTN7,Exports,Manufacturing and maintenance services,GBP Total,4625,Â£ Million
2,K02000001,quarter/2016-Q2,MTN7,Exports,Manufacturing and maintenance services,GBP Total,791,Â£ Million
3,K02000001,quarter/2016-Q3,MTN7,Exports,Manufacturing and maintenance services,GBP Total,898,Â£ Million
4,K02000001,quarter/2016-Q4,MTN7,Exports,Manufacturing and maintenance services,GBP Total,974,Â£ Million
5,K02000001,quarter/2017-Q1,MTN7,Exports,Manufacturing and maintenance services,GBP Total,866,Â£ Million
6,K02000001,quarter/2017-Q2,MTN7,Exports,Manufacturing and maintenance services,GBP Total,1211,Â£ Million
7,K02000001,quarter/2017-Q3,MTN7,Exports,Manufacturing and maintenance services,GBP Total,1262,Â£ Million
8,K02000001,quarter/2017-Q4,MTN7,Exports,Manufacturing and maintenance services,GBP Total,1286,Â£ Million
9,K02000001,quarter/2018-Q1,MTN7,Exports,Manufacturing and maintenance services,GBP Total,875,Â£ Million
10,K02000001,quarter/2018-Q2,MTN7,Exports,Manufacturing and maintenance services,GBP Total,1095,Â£ Million
11,K02000001,year/2016,FKOA,Exports,Transport,GBP Total,27752,Â£ Million
12,K02000001,year/2017,FKOA,Exports,Transport,GBP Total,30128,Â£ Million
13,K02000001,quarter/2016-Q2,FKOA,Exports,Transport,GBP Total,6655,Â£ Million
14,K02000001,quarter/2016-Q3,FKOA,Exports,Transport,GBP Total,6858,Â£ Million
15,K02000001,quarter/2016-Q4,FKOA,Exports,Transport,GBP Total,7339,Â£ Million
16,K02000001,quarter/2017-Q1,FKOA,Exports,Transport,GBP Total,7505,Â£ Million
17,K02000001,quarter/2017-Q2,FKOA,Exports,Transport,GBP Total,7536,Â£ Million
18,K02000001,quarter/2017-Q3,FKOA,Exports,Transport,GBP Total,7486,Â£ Million
19,K02000001,quarter/2017-Q4,FKOA,Exports,Transport,GBP Total,7601,Â£ Million
20,K02000001,quarter/2018-Q1,FKOA,Exports,Transport,GBP Total,7747,Â£ Million
21,K02000001,quarter/2018-Q2,FKOA,Exports,Transport,GBP Total,7528,Â£ Million
22,K02000001,year/2016,FAPO,Exports,Travel,GBP Total,35481,Â£ Million
23,K02000001,year/2017,FAPO,Exports,Travel,GBP Total,39807,Â£ Million
24,K02000001,quarter/2016-Q2,FAPO,Exports,Travel,GBP Total,8766,Â£ Million
25,K02000001,quarter/2016-Q3,FAPO,Exports,Travel,GBP Total,8477,Â£ Million
26,K02000001,quarter/2016-Q4,FAPO,Exports,Travel,GBP Total,9525,Â£ Million
27,K02000001,quarter/2017-Q1,FAPO,Exports,Travel,GBP Total,9598,Â£ Million
28,K02000001,quarter/2017-Q2,FAPO,Exports,Travel,GBP Total,9582,Â£ Million
29,K02000001,quarter/2017-Q3,FAPO,Exports,Travel,GBP Total,10215,Â£ Million
...,...,...,...,...,...,...,...,...
366,K02000001,quarter/2016-Q3,FNRB,Balance,"Personal, cultural and recreational services",GBP Total,150,Â£ Million
367,K02000001,quarter/2016-Q4,FNRB,Balance,"Personal, cultural and recreational services",GBP Total,45,Â£ Million
368,K02000001,quarter/2017-Q1,FNRB,Balance,"Personal, cultural and recreational services",GBP Total,-94,Â£ Million
369,K02000001,quarter/2017-Q2,FNRB,Balance,"Personal, cultural and recreational services",GBP Total,-4,Â£ Million
370,K02000001,quarter/2017-Q3,FNRB,Balance,"Personal, cultural and recreational services",GBP Total,283,Â£ Million
371,K02000001,quarter/2017-Q4,FNRB,Balance,"Personal, cultural and recreational services",GBP Total,320,Â£ Million
372,K02000001,quarter/2018-Q1,FNRB,Balance,"Personal, cultural and recreational services",GBP Total,321,Â£ Million
373,K02000001,quarter/2018-Q2,FNRB,Balance,"Personal, cultural and recreational services",GBP Total,544,Â£ Million
374,K02000001,year/2016,FNRU,Balance,Government,GBP Total,-1269,Â£ Million
375,K02000001,year/2017,FNRU,Balance,Government,GBP Total,-2041,Â£ Million
376,K02000001,quarter/2016-Q2,FNRU,Balance,Government,GBP Total,-289,Â£ Million
377,K02000001,quarter/2016-Q3,FNRU,Balance,Government,GBP Total,-271,Â£ Million
378,K02000001,quarter/2016-Q4,FNRU,Balance,Government,GBP Total,-373,Â£ Million
379,K02000001,quarter/2017-Q1,FNRU,Balance,Government,GBP Total,-590,Â£ Million
380,K02000001,quarter/2017-Q2,FNRU,Balance,Government,GBP Total,-437,Â£ Million
381,K02000001,quarter/2017-Q3,FNRU,Balance,Government,GBP Total,-547,Â£ Million
382,K02000001,quarter/2017-Q4,FNRU,Balance,Government,GBP Total,-467,Â£ Million
383,K02000001,quarter/2018-Q1,FNRU,Balance,Government,GBP Total,-483,Â£ Million
384,K02000001,quarter/2018-Q2,FNRU,Balance,Government,GBP Total,-508,Â£ Million
385,K02000001,year/2016,IKBD,Balance,Total,GBP Total,101765,Â£ Million
386,K02000001,year/2017,IKBD,Balance,Total,GBP Total,114295,Â£ Million
387,K02000001,quarter/2016-Q2,IKBD,Balance,Total,GBP Total,24325,Â£ Million
388,K02000001,quarter/2016-Q3,IKBD,Balance,Total,GBP Total,24793,Â£ Million
389,K02000001,quarter/2016-Q4,IKBD,Balance,Total,GBP Total,28308,Â£ Million
390,K02000001,quarter/2017-Q1,IKBD,Balance,Total,GBP Total,26866,Â£ Million
391,K02000001,quarter/2017-Q2,IKBD,Balance,Total,GBP Total,27228,Â£ Million
392,K02000001,quarter/2017-Q3,IKBD,Balance,Total,GBP Total,28860,Â£ Million
393,K02000001,quarter/2017-Q4,IKBD,Balance,Total,GBP Total,31341,Â£ Million
394,K02000001,quarter/2018-Q1,IKBD,Balance,Total,GBP Total,28776,Â£ Million
395,K02000001,quarter/2018-Q2,IKBD,Balance,Total,GBP Total,28625,Â£ Million

In [12]:
bop_table_url = 'https://drive.google.com/uc?export=download&id=1jzQaLafdqfWUAlTt07gnLBZ02tdTMEnl'
temp_table = pd.read_csv(bop_table_url)
new_table = pd.merge(new_table, temp_table, how = 'left', left_on = 'label', right_on = 'Label')
new_table.rename(index= str, columns= {'Notation':'BOP Services'}, inplace = True)

In [13]:
new_table.count()

ONS Reporter Geography    396
Period                    396
CDID                      396
Flow                      396
label                     396
Measure Type              396
Value                     396
Unit                      396
Label                     396
BOP Services              396
Parent Notation           363
dtype: int64

In [14]:
new_table['Value'] = new_table['Value'].astype(int)

In [15]:
new_table = new_table[['ONS Reporter Geography','Period','CDID','BOP Services','Flow','Measure Type','Value','Unit']]

In [16]:
new_table.head(5)

,ONS Reporter Geography,Period,CDID,BOP Services,Flow,Measure Type,Value,Unit
0,K02000001,year/2016,MTN7,1+2,Exports,GBP Total,3496,Â£ Million
1,K02000001,year/2017,MTN7,1+2,Exports,GBP Total,4625,Â£ Million
2,K02000001,quarter/2016-Q2,MTN7,1+2,Exports,GBP Total,791,Â£ Million
3,K02000001,quarter/2016-Q3,MTN7,1+2,Exports,GBP Total,898,Â£ Million
4,K02000001,quarter/2016-Q4,MTN7,1+2,Exports,GBP Total,974,Â£ Million

In [17]:
from pathlib import Path
destinationFolder = Path('out')
destinationFolder.mkdir(exist_ok=True)

new_table.to_csv(destinationFolder / 'observations.csv', index = False)

In [18]:
scraper.dataset.family = 'trade'
scraper.dataset.comment = scraper.dataset.comment.replace('accounts including the current account',
                                                          'accounts including trade on the current account')

with open(destinationFolder / 'dataset.trig', 'wb') as metadata:
    metadata.write(scraper.generate_trig())